body {
  background-color: #f0f0f0;
}

.calculator {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.calculator input {
  background-color: #f9f9f9;
  color: #000;
  text-align: right;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 24px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

button {
  font-size: 20px;
  padding: 15px;
}

.history {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 80vh;
  overflow-y: auto;
}

.history h3 {
  margin-top: 0;
}
